/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo i {
  position: relative;
  margin-left: 150%;
  font-size: 1.1rem;
}

main .banniere {
  max-height: 25rem;
  object-fit: cover;
}
main .banniere img {
  position: relative;
  width: 100%;
}
main .menucontainer {
  background: #f6f6f6;
  position: relative;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0rem 0rem;
}
main .menucontainer .menucontainerwithoutbg {
  margin: 0 1rem;
}
main .menucontainer .menucontainerwithoutbg .menutitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 0;
}
main .menucontainer .menucontainerwithoutbg .menutitle h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  padding-left: 0.2rem;
}
main .menucontainer .menucontainerwithoutbg .menutitle i {
  font-size: 1.5rem;
  padding-right: 1.5rem;
}
main .menucontainer .menucontainerwithoutbg .gridmenu {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
main .menucontainer .menucontainerwithoutbg .gridmenu p {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 0.2rem 0.2rem;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .greenunderline {
  background: #99e2d0;
  height: 0.2rem;
  width: 3rem;
  margin: 0 0 1rem 0.2rem;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat {
  display: grid;
  gap: 1rem;
  margin-bottom: 2.7rem;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat p {
  text-transform: inherit;
  margin: 0;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule {
  box-shadow: 0 0.3px 1.3px -6px rgba(0, 0, 0, 0.35), 0 2px 10px -6px rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "intitule1 intitule3" "intitule2 intitule3";
  gap: 0.4rem;
  background: white;
  padding: 0.7rem 0 0.6rem 0.6rem;
  border-radius: 1rem;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule .intitule1 {
  grid-area: intitule1;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule .intitule1 h2 {
  font-size: 1.1rem;
  font-weight: bold;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule .intitule2 {
  grid-area: intitule2;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule .intitule2 p {
  font-size: 1rem;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule .intitule3 {
  grid-area: intitule3;
  padding: 1.7rem 1.4rem 0 0;
  text-align: right;
  font-weight: bold;
}
main .menucontainer .menucontainerwithoutbg .gridmenu .gridplat .gridintitule .intitule3 p {
  font-size: 0.9rem;
}
main .orderbtn {
  text-align: center;
  padding: 1rem 0 6.4rem 0;
}
main .orderbtn a {
  background: linear-gradient(0deg, #020024 0%, #9356dc 0%, #ff79da 100%);
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem 3.5rem;
  border: 1px transparent;
  color: white;
  font-size: 1rem;
  transition-duration: 0.2s;
}
main .orderbtn a:hover {
  background: linear-gradient(0deg, #020024 0%, rgba(147, 86, 220, 0.8) 0%, rgba(255, 121, 218, 0.8) 100%);
  transition-duration: 0.2s;
}

@media (min-width: 768px) {
  main .menucontainer {
    margin: 0 5rem;
    margin-top: 5rem;
  }
}
@media (min-width: 1025px) {
  main .menucontainer {
    margin: 0 15rem;
    margin-top: 15rem;
  }
  main .banniere img {
    max-height: 70rem;
  }
}
@media (min-width: 1400px) {
  main .menucontainer {
    margin: 0 20rem;
  }
  main .banniere img {
    object-fit: cover;
    object-position: center;
    max-height: 30rem;
  }
}
footer {
  background: #353535;
}
footer .footercontainer {
  padding: 0 0 0.6rem 1rem;
}
footer .footercontainer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  padding: 1.2rem 0 0.9rem 0;
}
footer .footelementcontainer a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 0.2rem 0;
  font-size: 1rem;
}
footer .footelementcontainer .footicon {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footelementcontainer .footicon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 1rem;
  margin-right: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}
header .logo {
  box-shadow: 0 0.3px 1.3px -6px rgba(0, 0, 0, 0.35), 0 2px 10px -6px rgba(0, 0, 0, 0.7);
  position: relative;
}
header .logo img {
  display: flex;
  height: 1.9rem;
  margin: 1.2rem auto 0.8rem auto;
}
header .placefinder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding-right: 1rem;
}
header .placefinder input {
  width: 9rem;
  text-align: right;
  border: 1px transparent;
  outline: none;
  padding: 0.9rem 0rem;
  background: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
}
header .placefinder input::placeholder {
  color: #353535;
}
header .explorebg {
  background: #f6f6f6;
}
header .restaurantexplore {
  margin: 2.5rem 1rem 4.6rem 1rem;
  text-align: center;
}
header .restaurantexplore h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 2rem 0.7rem 2rem;
}
header .restaurantexplore p {
  font-size: 1.1rem;
  color: #656565;
  margin-bottom: 2.8rem;
}
header .restaurantexplore a {
  background: linear-gradient(0deg, #020024 0%, #9356dc 0%, #ff79da 100%);
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  border: 1px transparent;
  color: white;
  font-size: 1rem;
  transition-duration: 0.2s;
}
header .restaurantexplore a:hover {
  background: linear-gradient(0deg, #020024 0%, rgba(147, 86, 220, 0.8) 0%, rgba(255, 121, 218, 0.8) 100%);
  transition-duration: 0.2s;
}

main .operationsection {
  margin-bottom: 4.3rem;
  margin-top: 3rem;
}
main .operationsection h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1rem 1.2rem;
}
main .operationsection .restaurantoperation {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem;
}
main .operationsection button {
  box-shadow: 0 0.3px 1.3px -6px rgba(0, 0, 0, 0.35), 0 2px 10px -6px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: transparent;
  padding: 1.65rem;
  background: #f6f6f6;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
main .operationsection button .rond {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #9356dc;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -2.5rem;
  color: white;
}
main .operationsection button .rond p {
  font-size: 0.8rem;
}
main .operationsection button .operationlist {
  display: flex;
  align-items: center;
}
main .operationsection button .operationlist p {
  padding-left: 1.5rem;
}
main .operationsection button .operationlist i {
  font-size: 1.2rem;
  opacity: 60%;
}
main .restaurantsection {
  background: #f6f6f6;
  padding-top: 3.2rem;
  padding-bottom: 3rem;
}
main .restaurantsection h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0rem 0 1rem 1.2rem;
}
main .restaurantsection .restaurantcard {
  box-shadow: 0 0.3px 1.3px -6px rgba(0, 0, 0, 0.35), 0 2px 10px -6px rgba(0, 0, 0, 0.7);
  display: grid;
  position: relative;
  grid-template-columns: auto;
  border-radius: 1rem;
  margin: 1.2rem 1.3rem;
  z-index: 1;
}
main .restaurantsection .restaurantcard img {
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
  height: 11rem;
  width: 100%;
}
main .restaurantsection .restaurantcard a {
  text-decoration: none;
  color: black;
}
main .restaurantsection .newsign {
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 3%;
  background: #99e2d0;
  border-radius: 0.2rem;
  width: 5rem;
}
main .restaurantsection .newsign p {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.3rem 0.6rem;
  color: #00a078;
}
main .restaurantsection .gridpresentation {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: repeat(2, 1fr);
}
main .restaurantsection .gridpresentation h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0.2rem 0.8rem;
  grid-area: 1/1/2/2;
}
main .restaurantsection .gridpresentation p {
  font-size: 1.1rem;
  margin: 0 0 1rem 0.8rem;
  grid-area: 2/1/3/2;
}
main .restaurantsection .gridpresentation i {
  display: grid;
  grid-area: 1/2/3/3;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 80%;
}

@media (min-width: 768px) {
  main .operationsection h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  main .operationsection .restaurantoperation {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5%;
  }
  main .restaurantsection h2 {
    margin: 1rem 7.2%;
  }
  main .restaurantsection .restaurantgrid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 5%;
  }
  main .restaurantsection .restaurantcard img {
    height: 15rem;
  }

  footer .footercontainer {
    margin: 0 5%;
  }
}
@media (min-width: 1025px) {
  main .restaurantsection h2 {
    margin: 1rem 6.2%;
  }

  footer h3 {
    display: flex;
    justify-content: center;
  }
  footer .footelementcontainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
