/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a {
  color: #353535;
}
header .logo a i {
  position: absolute;
  margin-left: 7.5%;
  font-size: 1.1rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

main .banniere {
  max-height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
}
main .banniere img {
  position: relative;
  width: 100%;
}
main .menucontainer {
  background: #f6f6f6;
  position: relative;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0rem 0rem;
}
main .menucontainer .menucontainerwithoutbg {
  margin: 0 1rem;
}
main .menucontainer .menucontainerwithoutbg .menutitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 0;
}
main .menucontainer .menucontainerwithoutbg .menutitle h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  padding-left: 0.2rem;
}
main .menucontainer .menucontainerwithoutbg .menutitle label {
  font-size: 1.5rem;
  padding-right: 1.5rem;
}
main .menucontainer .menucontainerwithoutbg .menutitle label .fas {
  font-family: "Font Awesome 5 Free";
  font-size: 1.7rem;
  font-weight: 100;
  color: black;
  animation: heartanimblack 0.5s;
}
main .menucontainer .menucontainerwithoutbg .menutitle label input {
  visibility: hidden;
}
main .menucontainer .menucontainerwithoutbg .menutitle label input[type=checkbox]:checked ~ i {
  font-weight: 900;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: heartanim 1.5s;
}
@keyframes heartanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heartanimblack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .menucontainer .menucontainerwithoutbg .listmenu .entrees {
  animation: fadelist ease-in 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
main .menucontainer .menucontainerwithoutbg .listmenu .plat {
  animation: fadelist ease-in 1s;
  opacity: 0;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
main .menucontainer .menucontainerwithoutbg .listmenu .desserts {
  animation: fadelist ease-in 1s;
  opacity: 0;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
main .menucontainer .menucontainerwithoutbg .listmenu p {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 0.2rem 0.2rem;
}
main .menucontainer .menucontainerwithoutbg .listmenu .greenunderline {
  background: #99e2d0;
  height: 0.2rem;
  width: 3rem;
  margin: 0 0 1rem 0.2rem;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.7rem;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat p {
  text-transform: inherit;
  margin: 0;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat .listintitule {
  box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35), 0 2px 10px -5px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  background: white;
  padding: 0.7rem 0 0.6rem 0.6rem;
  border-radius: 1rem;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat .listintitule .intitule {
  white-space: nowrap;
  overflow: hidden;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat .listintitule .intitule h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat .listintitule .intitule p {
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat .listintitule .prix {
  padding: 1.7rem 1.4rem 0 0;
  font-weight: bold;
}
main .menucontainer .menucontainerwithoutbg .listmenu .listplat .listintitule .prix p {
  font-size: 0.9rem;
}
@keyframes fadelist {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .orderbtn {
  animation: fadelist ease-in 1s;
  opacity: 0;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  text-align: center;
  padding: 1rem 0 6.4rem 0;
}
main .orderbtn a {
  z-index: 1;
  color: white;
  padding: 1rem 1.2rem 1rem 1.2rem;
  text-decoration: none;
  outline: none;
  border-radius: 2rem;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  transition-duration: 0.4s;
  box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35), 0 2px 10px -5px rgba(0, 0, 0, 0.7);
  padding: 1rem 3.5rem;
}
main .orderbtn a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#c974d5));
  transition-duration: 0.5s;
  opacity: 0.9;
  box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35), 0 2px 20px -3px rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  header .logo a i {
    margin-left: 13%;
  }

  main .menucontainer {
    margin: 0 5rem;
    margin-top: -4rem;
  }
  main .banniere img {
    max-height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (min-width: 1025px) {
  main .menucontainer {
    margin: 0 7.5rem;
    margin-top: -4rem;
  }
  main .menucontainer .menucontainerwithoutbg .listmenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-bottom: 4rem;
  }
  main .menucontainer .menucontainerwithoutbg .listmenu .orderbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  main .menucontainer {
    margin: 0 15rem;
  }
  main .banniere img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-height: 30rem;
  }
}
footer {
  background: #353535;
}
footer .footercontainer {
  padding: 0 0 0.6rem 1rem;
}
footer .footercontainer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  padding: 1.2rem 0 0.9rem 0;
}
footer .footelementcontainer a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 0.2rem 0;
  font-size: 1rem;
}
footer .footelementcontainer .footicon {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footelementcontainer .footicon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 1rem;
  margin-right: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}
body .loadercontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #eaeaea;
  z-index: 2;
  animation: loaderload 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
body .loadercontainer .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: #eaeaea;
}
body .loadercontainer .loader .face {
  position: absolute;
  border: 3px solid #eaeaea;
}
body .loadercontainer .loader .face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eaeaea;
  border-radius: 50%;
  border-top: 3px solid #9356dc;
  border-left: 3px solid #9356dc;
  border-right: 3px solid #9356dc;
  animation: animate 2s linear infinite;
}
body .loadercontainer .loader .face1 .circle {
  transform: rotate(-315deg);
}
body .loadercontainer .loader .face1 .circle:before {
  background: #9356dc;
}
body .loadercontainer .loader .face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: #eaeaea;
  border-radius: 50%;
  border-right: 3px solid #ff79da;
  border-bottom: 3px solid #ff79da;
  animation: animate 2s linear reverse infinite;
}
body .loadercontainer .loader .face2 .circle {
  transform: rotate(-50deg);
}
body .loadercontainer .loader .face2 .circle:before {
  background: #ff79da;
}
body .loadercontainer .loader .face3 {
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  background: #eaeaea;
  border-radius: 50%;
  border-left: 3px solid #99e2d0;
  border-top: 3px solid #99e2d0;
  animation: animate 2s linear infinite;
}
body .loadercontainer .loader .face3 .circle {
  transform: rotate(-45deg);
}
body .loadercontainer .loader .face3 .circle:before {
  background: #99e2d0;
}
body .loadercontainer .loader .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}
body .loadercontainer .loader .circle:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -4px;
  right: -4px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderload {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#bodyindex {
  animation: bodyhidden 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

@keyframes bodyhidden {
  0% {
    visibility: hidden;
    overflow-y: hidden;
  }
  100% {
    visibility: visible;
    overflow-y: visible;
  }
}
header {
  display: flex;
  flex-direction: column;
}
header .logo {
  box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35), 0 2px 10px -5px rgba(0, 0, 0, 0.7);
  position: relative;
}
header .logo img {
  display: flex;
  height: 1.9rem;
  margin: 1.2rem auto 0.8rem auto;
}
header .placefinder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding-right: 1rem;
}
header .placefinder input {
  width: 9rem;
  text-align: right;
  border: 1px transparent;
  outline: none;
  padding: 0.9rem 0rem;
  background: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
}
header .placefinder input::placeholder {
  color: #353535;
}
header .explorebg {
  background: #f6f6f6;
}
header .restaurantexplore {
  margin: 2.5rem 1rem 4.6rem 1rem;
  text-align: center;
}
header .restaurantexplore h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 2rem 0.7rem 2rem;
}
header .restaurantexplore p {
  font-size: 1.1rem;
  color: #656565;
  margin-bottom: 2.8rem;
}
header .restaurantexplore a {
  z-index: 1;
  color: white;
  padding: 1rem 1.2rem 1rem 1.2rem;
  text-decoration: none;
  outline: none;
  border-radius: 2rem;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  transition-duration: 0.4s;
  box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35), 0 2px 10px -5px rgba(0, 0, 0, 0.7);
}
header .restaurantexplore a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#c974d5));
  transition-duration: 0.5s;
  opacity: 0.9;
  box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35), 0 2px 20px -3px rgba(0, 0, 0, 0.7);
}

main .operationsection {
  margin-bottom: 4.3rem;
  margin-top: 3rem;
}
main .operationsection h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1rem 1.2rem;
}
main .operationsection .restaurantoperation {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem;
}
main .operationsection a {
  box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35), 0 2px 10px -5px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  border: transparent;
  padding: 1.65rem;
  background: #f6f6f6;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  transition-duration: 0.3s;
}
main .operationsection a:hover {
  box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35), 0 2px 20px -3px rgba(0, 0, 0, 0.7);
  background: #f5edff;
  transition-duration: 0.5s;
}
main .operationsection a .rond {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #9356dc;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -2.5rem;
  color: white;
}
main .operationsection a .rond p {
  font-size: 0.8rem;
}
main .operationsection a .operationlist {
  display: flex;
  align-items: center;
}
main .operationsection a .operationlist p {
  padding-left: 1.5rem;
}
main .operationsection a .operationlist i {
  font-size: 1.2rem;
  opacity: 60%;
}
main .restaurantsection {
  background: #f6f6f6;
  padding-top: 3.2rem;
  padding-bottom: 3rem;
}
main .restaurantsection h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0rem 0 1rem 1.2rem;
}
main .restaurantsection .restaurantcard {
  box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35), 0 2px 10px -5px rgba(0, 0, 0, 0.7);
  display: grid;
  position: relative;
  grid-template-columns: auto;
  border-radius: 1rem;
  margin: 1.2rem 1.3rem;
  z-index: 1;
  transition-duration: 0.3s;
}
main .restaurantsection .restaurantcard:hover {
  box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35), 0 2px 20px -3px rgba(0, 0, 0, 0.7);
  transition-duration: 0.5s;
}
main .restaurantsection .restaurantcard img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
  height: 11rem;
  width: 100%;
}
main .restaurantsection .restaurantcard a {
  text-decoration: none;
  color: black;
}
main .restaurantsection .newsign {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 3%;
  background: #99e2d0;
  border-radius: 0.2rem;
  width: 5rem;
}
main .restaurantsection .newsign p {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.3rem 0.6rem;
  color: #00a078;
}
main .restaurantsection .gridpresentation {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "h3 label" "p label";
}
main .restaurantsection h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0.2rem 0.8rem;
  grid-area: h3;
}
main .restaurantsection p {
  font-size: 1.1rem;
  margin: 0 0 1rem 0.8rem;
  grid-area: p;
}
main .restaurantsection label {
  display: flex;
  grid-area: label;
  justify-content: center;
  align-items: center;
}
main .restaurantsection label .fas {
  font-family: "Font Awesome 5 Free";
  font-size: 1.7rem;
  font-weight: 100;
  color: black;
  animation: heartanimblack 0.5s;
}
main .restaurantsection label input {
  visibility: hidden;
}
main .restaurantsection label input[type=checkbox]:checked ~ i {
  font-weight: 900;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: heartanim 1.5s;
}
@keyframes heartanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heartanimblack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  main .operationsection h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  main .operationsection .restaurantoperation {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5%;
  }
  main .restaurantsection h2 {
    margin: 1rem 7.2%;
  }
  main .restaurantsection .restaurantcontainer {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 5%;
  }
  main .restaurantsection .restaurantcard img {
    height: 15rem;
  }

  footer .footercontainer {
    margin: 0 5%;
  }
}
@media (min-width: 1025px) {
  main .restaurantsection h2 {
    margin: 1rem 12%;
  }
  main .restaurantsection .restaurantcontainer {
    margin: 0 10%;
  }

  footer h3 {
    display: flex;
    justify-content: center;
  }
  footer .footelementcontainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1400px) {
  main .restaurantsection h2 {
    margin: 1rem 16.5%;
  }
  main .restaurantsection .restaurantcontainer {
    margin: 0 15%;
  }
}

/*# sourceMappingURL=style.css.map */
