@use "../utils/colors" as *;

@mixin shadow {
  box-shadow: 0 0.3px 1.3px -6px rgba(0, 0, 0, 0.35),
    0 2px 10px -6px rgba(0, 0, 0, 0.7);
}

@mixin btngradient {
  color: white;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff79da),
    to(#9356dc)
  );
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  border: 1px transparent;
  font-size: 1rem;
  transition-duration: 1s;
}

@mixin btngradient80 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff79da),
    to(#9356dc)
  );
  opacity: 75%;
  transition-duration: 0.5s;
}
